/* NAVIGATION */
.bottomNavBar {
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* PROFILE */
.profilePaper {
  width: 30em;
  padding: 1em;
}
.profileContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.avatarImg {
  width: 80px !important;
  height: 80px !important;
}

/* CHATS */

.content {
  height: 100vh;
  overflow: auto;
  padding: 25px;
  overflow-y: scroll;
  width: 50em;
}

.userSent {
  float: left;
  clear: both;
  padding: 1em;
  word-wrap: break-word;
}
.friendSent {
  float: right;
  clear: both;
  padding: 1em;
  word-wrap: break-word;
}
