/* NAVIGATION */
.bottomNavBar {
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* PROFILE */
.profilePaper {
  width: 30em;
  padding: 1em;
}
.profileContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.avatarImg {
  width: 80px !important;
  height: 80px !important;
}

/* CHATS */

.content {
  height: calc(100vh - 150px);
  overflow: auto;
  padding: 2em;
  overflow-y: auto;
}
.content::-webkit-scrollbar-thumb {
  background-color: #fafafa;
}
.content:hover::-webkit-scrollbar-thumb {
  background-color: #3f51b5;
}
.message {
  margin-bottom: 1em;
  font-size: 1rem;
  max-width: 70%;
  clear: both;
  padding: 8px 16px;
  word-wrap: break-word;
}
.userSent {
  float: right;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  border-bottom-left-radius: 1em;
  text-align: right;
  box-shadow: 2px 2px 4px -2px #3f51b5 !important;
}
.friendSent {
  float: left;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  border-bottom-left-radius: 1em;
  text-align: left;
  box-shadow: -2px -2px 4px -2px #3f51b5 !important;
}
